<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="/home.css">

    <link rel="icon" href="/title.png" type="image/x-icon">

    <title>Portfolio | Projects</title>
</head>

<body>
    <%- include("partials/navBar") %>
        <div class="row">
            <div id="leftProfile" class="col col-lg-3 col-md-12 col-sm-12 m-4">
                <%- include("partials/leftProfile") %>
            </div>
            <div id="project_content" class="col col-lg-8 col-md-12 col-sm-12 m-4">
                <div class="row p-3 pt-3">
                    <h1>MY PROJECTS</h1>
                </div>
                <div id="projects" class="row p-3 justify-content-center">
                    <div class="card m-2" style="width: 95%;">
                        <div class="card-body">
                            <div>
                                <h5 style="color: black;" class="card-title mb-3">Personal Portfolio</h5>
                                <h6 style="text-transform: none;" class="card-subtitle mb-3 text-muted">HTML, CSS, JS, NodeJs, ExpressJs, EJS, Bootstrap</h6>
                                <p style="color: black; text-transform: none; text-align: left;" class="card-text">
                                    Built a Personal Portfolio website.
                                </p>
                            </div>
                            <div>
                                <a href="https://github.com/parimalingle1805/personalPortfolio" class="card-link btn btn-success" target="_blank">Github Repo</a>
                            </div>
                        </div>
                    </div>
                    <div class="card m-2" style="width: 95%; grid-column: 2/4;">
                        <div class="card-body">
                            <div>
                                <h5 style="color: black;" class="card-title mb-3">Farmer's Forum</h5>
                                <h6 style="text-transform: none;" class="card-subtitle mb-3 text-muted">HTML, CSS, JS, NodeJs, ExpressJs, MongoDB, ReactJs</h6>
                                <p style="color: black; text-transform: none; text-align: left;" class="card-text">
                                    Built a Farmer’s Forum MERN stack web app for Computational Agriculture competition organized by IIT-Bombay in the techfest.
                                </p>
                            </div>
                            <div>
                                <a href="https://farmerforum.herokuapp.com/" class="card-link btn btn-primary" target="_blank">Visit site</a>
                                <a href="https://github.com/parimalingle1805/CompAgri" class="card-link btn btn-success" target="_blank">Github Repo</a>
                            </div>
                        </div>
                    </div>
                    <div class="card m-2" style="width: 95%;">
                        <div class="card-body">
                            <div>
                                <h5 style="color: black;" class="card-title mb-3">Air Quality Index App</h5>
                                <h6 style="text-transform: none;" class="card-subtitle mb-2 text-muted mb-3">Bootstrap, Python, Django</h6>
                                <p style="color: black; text-transform: none; text-align: left;" class="card-text">
                                    Built a web app that tells air quality of an area according to zipcode entered.
                                </p>
                            </div>
                            <div>
                                <a href="https://github.com/parimalingle1805/djangoweather" class="card-link btn btn-success" target="_blank">Github Repo</a>
                            </div>
                        </div>
                    </div>
                    <div class="card m-2" style="width: 95%;">
                        <div class="card-body">
                            <div>
                                <h5 style="color: black;" class="card-title mb-3">To do list App</h5>
                                <h6 style="text-transform: none;" class="card-subtitle mb-2 text-muted mb-3">Bootstrap, Python, Djang</h6>
                                <p style="color: black; text-transform: none; text-align: left;" class="card-text">
                                    Built a web app that allows user to create, delete, mark as done any number of tasks.
                                </p>
                            </div>
                            <div>
                                <a href="https://github.com/parimalingle1805/personalPortfolio" class="card-link btn btn-success" target="_blank">Github Repo</a>
                            </div>
                        </div>
                    </div>
                    <div class="card m-2" style="width: 90%;">
                        <div class="card-body">
                            <div>
                                <h5 style="color: black;" class="card-title mb-3">Automated Parking System</h5>
                                <h6 style="text-transform: none;" class="card-subtitle mb-2 text-muted mb-3">Android Studio</h6>
                                <p style="color: black; text-transform: none; text-align: left;" class="card-text">
                                    Made an application that would tell where there is empty parking slot and navigate you to that slot.
                                </p>
                            </div>
                            <div>
                            </div>
                        </div>
                    </div>
                    <div class="card m-2" style="width: 95%;">
                        <div class="card-body">
                            <div>
                                <h5 style="color: black;" class="card-title mb-3">Tic-Tac-Toe</h5>
                                <h6 style="text-transform: none;" class="card-subtitle mb-3 text-muted">HTML, CSS, JS</h6>
                                <p style="color: black; text-transform: none; text-align: left;" class="card-text">
                                    A 2-player tic tac toe game.<br>
                                    <a href="http://parimalingle1805.github.io/" class=" btn btn-primary mt-4" target="_blank">Visit site</a>
                                </p>
                            </div>
                            <div>

                                <a href="https://github.com/parimalingle1805/parimalingle1805.github.io" class=" btn btn-success" target="_blank">Github Repo</a>
                            </div>
                        </div>
                    </div>
                    <div class="card m-2" style="width: 95%; grid-column: 2/4;">
                        <div class="card-body">
                            <div>
                                <h5 style="color: black;" class="card-title mb-3">Project Based on Wireless communication</h5>
                                <h6 style="text-transform: none;" class="card-subtitle mb-2 text-muted mb-3">Android, Windows</h6>
                                <p style="color: black; text-transform: none; text-align: left;" class="card-text">
                                    Made a system in which a mobile camera on a drone will click photo every 4 seconds and send it to the laptop at ground without internet connection using Wireless routers.
                                </p>
                            </div>
                            <div>
                                <a href="https://github.com/parimalingle1805/hackathon_4.0_15" class="card-link btn btn-success" target="_blank">Github Repo</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Dummy for bottom spacing-->
                <div class="card m-2" style="width: 18rem; opacity: 0;">
                    <div class="card-body">

                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="card-link">Card link</a>

                    </div>
                </div>
            </div>
        </div>




        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>


</body>

</html>