<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="/home.css">

    <link rel="icon" href="/title.png" type="image/x-icon">

    <title>Portfolio | Projects</title>
</head>

<body>
    <%- include("partials/navBar") %>
        <div class="container">
            <div id="leftProfile" class="col col-lg-3 col-md-12 col-sm-12 m-4">
                <%- include("partials/leftProfile") %>
            </div>
            <div id="work_content" class="col col-lg-8 col-md-12 col-sm-12 m-4">
                <div id="Top" class="row p-3 pt-3">
                    <h1>MY WORK EXPERIENCE</h1>
                </div>


                <div class="row p-3 justify-content-center certificates">
                    <div>
                        <div class="card m-2 p-2" style="width: 96%; height: 47%;">
                            <h4 style="color: black; text-align: center;" class="mb-3">Web developer at UAS NMIMS</h4>
                            <div class="m-3">
                                <h6 style="color: black;">From October, 2020 to Present</h6>
                                <p style="color: black; text-transform: none;">Member of UAS NMIMS Team, developing websites/ web apps according to the requirements in the projects or competitions.</p>
                            </div>
                        </div>
                        <div class="card m-2 p-2" style="width: 96%; height: 47%;">
                            <h4 style="color: black; text-align: center;" class="mb-3">Co-Founder/Android app developer at Unlock</h4>
                            <div class="m-3">
                                <h6 style="color: black;">From September, 2019 to December 1, 2020</h6>
                                <p style="color: black; text-transform: none;">A startup to replace conventional lock and key system on automobiles with advanced fingerprint systems.</p>
                            </div>
                        </div>
                    </div>

                    <div class="card m-2 p-2" style="width: 95%;">
                        <img src="/certificates/work_cert1.png" class="card-img-top mb-3" alt="...">
                        <div>
                            <p style="color: black; text-transform: none;">Promoting their courses and bringing interns for them.</p>
                        </div>
                    </div>
                    <div class="card m-2 p-2" style="width: 95%; grid-row: 2/4;">
                        <img src="/certificates/work_cert2.png" class="card-img-top mb-3" alt="...">
                        <div class="mt-3">
                            <h6 style="color: black;">From July 1, 2020 to July 31, 2020</h6>
                            <p style="color: black; text-transform: none;">Promoting Newton school’s courses and increasing their followers/subscribers on social media platforms.</p>
                        </div>
                    </div>
                    <div class="card m-2 p-2" style="width: 95%;">
                        <img src="/certificates/work_cert3.png" class="card-img-top mb-3" alt="...">
                        <div>
                            <p style="color: black; text-transform: none;">Full Stack Web Development, website testing, UML</p>
                        </div>
                    </div>
                    <div class="card m-2 p-2" style="width: 95%;">
                        <img src="/certificates/work_cert4.png" class="card-img-top mb-3" alt="...">
                        <div>
                            <h6 style="color: black;">From May 8, 2020 to July 5, 2020</h6>
                        </div>
                    </div>
                    <div class="card m-2 p-2" style="width: 95%;">
                        <img src="/certificates/work_cert5.png" class="card-img-top mb-3" alt="...">
                        <div>
                            <h6 style="color: black;">From May 5, 2019 to June 3, 2019</h6>
                            <p style="color: black; text-transform: none;">Control Department - PLC programming, HMI, PLC basics and how automotive machines are made.</p>
                        </div>
                    </div>
                </div>



                <a href="#Top" class="btn btn-primary">Back to top <i class="fa fa-arrow-up"></i></a>
                <!--Dummy for bottom spacing-->
                <div class="card m-2" style="width: 18rem; opacity: 0;">
                    <div class="card-body">

                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="card-link">Card link</a>

                    </div>
                </div>
            </div>
        </div>






        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>



</body>

</html>